# Normal Form Database

### Original Spreadsheet Exerpt

| Project ID | Client Name | Contact Info       | Project Date | Services                       | Plants Used         | 
| ---------- | ----------- | ------------------ | ------------ | ------------------------------ | ------------------- | 
| P1001      | Sarah Green | sarah@gmail.com    | 2024-05-01   | Lawn Mowing, Hedge Trimming    | Roses, Tulips       | 
| P1002      | Bob Brown   | (555) 234-5678     | 05/02/2024   | Tree Planting                  | Oak                 | 
| P1003      | Alice Blue  | alice.blue@xyz.com | May 3, 2024  | Flower Bed Design, Weeding     | Daisies, Sunflowers | 
| P1004      | Tom White   | tomwhite@abc.net   | 2024/05/04   | Lawn Mowing                    |                     | 
| P1005      | Sarah Green | sarah@gmail.com    | 05-05-2024   | Hedge Trimming, Garden Cleanup | Lavender            | 
| P1006      | Emma Violet | 555-678-1234       | 2024-05-06   | Tree Pruning, Lawn Mowing      | Maple, Ferns        |

# Normal Form 1

### Repeating groups are not permitted

Services and Plants Used are both repeating groups. To fix the problem, making the database insert Services and Plants Used separately every line will make sure there are no repeating groups. The Contact Info wasn't a repeating group but it had different types of information in one column which is not permitted.

| Project ID | Client Name   | Email               | Phone Number   | Project Date | Services         | Plants Used   |
|------------|---------------|---------------------|----------------|--------------|------------------|---------------|
| P1001      | Sarah Green   | sarah@gmail.com     |                | 2024-05-01   | Lawn mowing      |               |
| P1001      | Sarah Green   | sarah@gmail.com     |                | 2024-05-01   | Hedge trimming   | Roses         |
| P1001      | Sarah Green   | sarah@gmail.com     |                | 2024-05-01   | Hedge trimming   | Tulips        |
| P1002      | Bob Brown     |                     | 555-234-5678   | 2024-05-02   | Tree planting    | Oak           |
| P1003      | Alice Brown   | alice.blue@xyz.com  |                | 2024-05-03   | Flower bed design| Daisies       |
| P1003      | Alice Brown   | alice.blue@xyz.com  |                | 2024-05-03   | Weeding          | Sunflowers    |
| P1004      | Tom White     | tomwhite@abc.net    |                | 2024-05-04   | Lawn mowing      |               |
| P1005      | Sarah Green   | sarah@gmail.com     |                | 2024-05-05   | Garden cleanup   |               |
| P1005      | Sarah Green   | sarah@gmail.com     |                | 2024-05-05   | Hedge trimming   | Lavender      |
| P1006      | Emma Violet   |                     | 555-678-1234   | 2024-05-06   | Tree pruning     | Maple         |
| P1006      | Emma Violet   |                     | 555-678-1234   | 2024-05-06   | Tree pruning     | Ferns         |
| P1006      | Emma Violet   |                     | 555-678-1234   | 2024-05-06   | Lawn mowing      |               |

### Mixing data types within the same column is not permitted 

#### Datatype
- Project ID: string 
- Client Name: string 
- Email: string
- Phone Number: string 
- Project Date: date
- Services: string 
- Plant Used: string

### Using row order to convey information is not permitted
The order of the information doesn't mean anything in this set.

#### Having a table without a primary key is not permitted 
The PK of the table is the Service ID, the reason why there needed to be a diffrent PK is because the PK would have been the Project ID, Service, and Plants Used but Plant Used could be null and therefore it couldn't be a part of the PK.

| Service ID | Project ID | Client Name   | Email               | Phone Number   | Project Date | Services         | Plants Used   |
|------------|------------|---------------|---------------------|----------------|--------------|------------------|---------------|
| 1          | P1001      | Sarah Green   | sarah@gmail.com     |                | 2024-05-01   | Lawn mowing      |               |
| 2          | P1001      | Sarah Green   | sarah@gmail.com     |                | 2024-05-01   | Hedge trimming   | Roses         |
| 3          | P1001      | Sarah Green   | sarah@gmail.com     |                | 2024-05-01   | Hedge trimming   | Tulips        |
| 4          | P1002      | Bob Brown     |                     | 555-234-5678   | 2024-05-02   | Tree planting    | Oak           |
| 5          | P1003      | Alice Brown   | alice.blue@xyz.com  |                | 2024-05-03   | Flower bed design| Daisies       |
| 6          | P1003      | Alice Brown   | alice.blue@xyz.com  |                | 2024-05-03   | Weeding          | Sunflowers    |
| 7          | P1004      | Tom White     | tomwhite@abc.net    |                | 2024-05-04   | Lawn mowing      |               |
| 8          | P1005      | Sarah Green   | sarah@gmail.com     |                | 2024-05-05   | Garden cleanup   |               |
| 9          | P1005      | Sarah Green   | sarah@gmail.com     |                | 2024-05-05   | Hedge trimming   | Lavender      |
| 10         | P1006      | Emma Violet   |                     | 555-678-1234   | 2024-05-06   | Tree pruning     | Maple         |
| 11         | P1006      | Emma Violet   |                     | 555-678-1234   | 2024-05-06   | Tree pruning     | Ferns         |
| 12         | P1006      | Emma Violet   |                     | 555-678-1234   | 2024-05-06   | Lawn mowing      |               |

#### Normal Form 2
There can't be partical dependence because the PK is a single column.

#### Normal Form 3
There are some transative dependence in this set. 
- The Project ID can tell you Client Name, Email/Phone Number, Project Date. 
- The Client Name can tell me the Email/Phone Number (vise versa)

To fix the problem with Client Name and Email/Phone Number I would just split it into it's own table. I would call it Customer Information.

| Client Name   | Email               | Phone Number   |
|---------------|---------------------|----------------|
| Sarah Green   | sarah@gmail.com     |                |
| Bob Brown     |                     | 555-234-5678   |
| Alice Brown   | alice.blue@xyz.com  |                |
| Tom White     | tomwhite@abc.net    |                |
| Emma Violet   |                     | 555-678-1234   |

To fix the problem with Project ID and Project Date is spliting up the set into a new table which I might call Projects.

| Project ID | Project Date  |
|------------|---------------|
| P1001      | 2024-05-01    |
| P1002      | 2024-05-02    |
| P1003      | 2024-05-03    |
| P1004      | 2024-05-04    |
| P1005      | 2024-05-05    |
| P1006      | 2024-05-06    |

Now the only thing left is the table with Service ID, Project ID, Client Name, Services, and Plants Used. This will be the main table and if there is anything that needs to be looked up it will be in the other tables.


| Service ID | Project ID | Client Name   | Services           | Plants Used   |
|------------|------------|---------------|--------------------|---------------|
| 1          | P1001      | Sarah Green   | Lawn mowing        |               |
| 2          | P1001      | Sarah Green   | Hedge trimming     | Roses         |
| 3          | P1001      | Sarah Green   | Hedge trimming     | Tulips        |
| 4          | P1002      | Bob Brown     | Tree planting      | Oak           |
| 5          | P1003      | Alice Brown   | Flower bed design  | Daisies       |
| 6          | P1003      | Alice Brown   | Weeding            | Sunflowers    |
| 7          | P1004      | Tom White     | Lawn mowing        |               |
| 8          | P1005      | Sarah Green   | Garden cleanup     |               |
| 9          | P1005      | Sarah Green   | Hedge trimming     | Lavender      |
| 10         | P1006      | Emma Violet   | Tree pruning       | Maple         |
| 11         | P1006      | Emma Violet   | Tree pruning       | Ferns         |
| 12         | P1006      | Emma Violet   | Lawn mowing        |               |