In [6]:
%%bash
python3 -m pip install pandasql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandasql in /Users/998500/Library/Python/3.11/lib/python/site-packages (0.7.3)
Requirement already satisfied: numpy in /Users/998500/Library/Python/3.11/lib/python/site-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /Users/998500/Library/Python/3.11/lib/python/site-packages (from pandasql) (2.2.3)
Requirement already satisfied: sqlalchemy in /Users/998500/Library/Python/3.11/lib/python/site-packages (from pandasql) (2.0.9)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from pandas->pandasql) (2023.4)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: six>=1.5 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip

In [7]:
%%bash 
pip3 install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /Users/998500/Library/Python/3.11/lib/python/site-packages (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/998500/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt

import pandas as pd
from pandasql import sqldf

In [9]:

stocks = pd.read_csv("sp500.csv")


#how much did the stock change from closer to open, how much did it increase/decrease, stock performance

print(sqldf('''SELECT symbol, date, close-open as daily_change FROM stocks
                ORDER BY date'''))

       symbol     date  daily_change
0         AAL  1/10/14        0.3000
1        AAPL  1/10/14       -0.9843
2         AAP  1/10/14        1.3600
3        ABBV  1/10/14       -0.3700
4         ABC  1/10/14       -0.1500
...       ...      ...           ...
497467    XYL   9/9/16       -1.9200
497468    YUM   9/9/16       -1.4600
497469    ZBH   9/9/16       -3.6800
497470   ZION   9/9/16       -0.1200
497471    ZTS   9/9/16       -0.8400

[497472 rows x 3 columns]

In [10]:
# on 1/2/12 all the stocks where there was profit
#AND
print(sqldf('''SELECT * FROM stocks
                WHERE date = '1/2/14' 
                AND close-open > 0'''))

   symbol    date    open      high       low   close   volume
0     AAL  1/2/14   25.07   25.8200   25.0600   25.36  8998943
1     ABT  1/2/14   38.09   38.4000   38.0000   38.23  4967472
2    ADBE  1/2/14   59.06   59.5300   58.9400   59.29  2746370
3     AGN  1/2/14  167.33  170.7100  166.5937  168.05  1268722
4     AIV  1/2/14   25.90   26.1400   25.6600   25.91   844901
..    ...     ...     ...       ...       ...     ...      ...
87   VRSN  1/2/14   59.74   60.1600   59.4100   60.02  1871867
88    WMT  1/2/14   78.72   79.4700   78.5000   78.91  6911859
89   WYNN  1/2/14  194.14  199.8800  193.1200  197.94  3056065
90    WYN  1/2/14   73.39   73.8700   72.9800   73.52  1284942
91   XRAY  1/2/14   47.94   48.3075   47.7821   47.96  1025448

[92 rows x 7 columns]

In [11]:
# all the AAL stock that has the average stock change daily
#between
print(sqldf('''SELECT symbol, date, close, open, close-open as daily_change 
                FROM stocks
                WHERE symbol = 'AAL'
                AND daily_change BETWEEN -1 AND 1
                ORDER BY date'''))

    symbol     date  close   open  daily_change
0      AAL  1/10/14  29.35  29.05          0.30
1      AAL  1/11/16  41.08  40.56          0.52
2      AAL  1/11/17  48.64  49.29         -0.65
3      AAL  1/12/16  42.00  41.15          0.85
4      AAL  1/12/17  48.10  48.67         -0.57
..     ...      ...    ...    ...           ...
817    AAL   9/8/16  39.35  38.68          0.67
818    AAL   9/8/17  43.60  43.81         -0.21
819    AAL   9/9/14  37.96  37.63          0.33
820    AAL   9/9/15  41.00  41.15         -0.15
821    AAL   9/9/16  38.49  39.00         -0.51

[822 rows x 5 columns]

In [12]:
#amount of days the stock market was recorded for in the data set
# count & distinct
print(sqldf('''SELECT COUNT(DISTINCT date) 
            FROM stocks '''))

   COUNT(DISTINCT date)
0                  1007

In [13]:
#symbols that have the letter Z in it 
print(sqldf('''SELECT DISTINCT (symbol) FROM stocks
                WHERE symbol LIKE '%Z%' '''))

  symbol
0    AIZ
1   AMZN
2    AZO
3    IVZ
4   MDLZ
5    STZ
6     VZ
7    ZBH
8   ZION
9    ZTS

In [14]:
# showing the companys that have all the dates (some companies dont have all the dates)
# GROUP BY
print(sqldf('''SELECT DISTINCT (symbol) as singleCompany, COUNT(*) as numRecords FROM stocks
                GROUP BY singleCompany
                HAVING numRecords >= 1007'''))

    singleCompany  numRecords
0               A        1007
1             AAL        1007
2             AAP        1007
3            AAPL        1007
4            ABBV        1007
..            ...         ...
474           XYL        1007
475           YUM        1007
476           ZBH        1007
477          ZION        1007
478           ZTS        1007

[479 rows x 2 columns]